`<html xmlns="http://www.w3.org/1999/html">
<body>
<p>Dear,</p>
<p>
    ${message}
</p>
<p>
    <strong>Article name:</strong> ${message}
    <br/>
    <br/>
    <strong>Summary:</strong> ${message}
</p>
<p>
    Enjoy!
</p>
</body>

</html>